
<div class="btn-group">
    <div type="button" class="btn btn-default dropdown-toggle ddf select" data-toggle="dropdown">
        Facets <span class="caret"></span>
    </div>
    <div class="dropdown-menu facet-items padding-6" role="menu">

    </div>
</div>