<div class="padding-3 text-center">
    <strong>Attribute Hits</strong>
</div>
<table class="table table-striped resultTable vertical-shrink-rows no-margin-bottom">
    <tbody class="facet-items"></tbody>
</table>