<!--<div class="filter-status">-->
    <!--<a>{{filterCount}} filter(s) active</a>-->
<!--</div>-->
<div class="filter-menu">
    <div class="top-bar clearfix">
        <div class="text pull-left facets-region"></div>
        <div class="button-group pull-right">
            <!--<div class="btn btn-default">Reset</div>-->
            <div class="btn btn-primary apply">Search</div>
            <i class="fa fa-plus fa-lg add"></i>
            <!--<div class="btn btn-sm add">-->
                <!--<i class="fa fa-plus"></i>-->
            <!--</div>-->
        </div>
    </div>
    <div class="filter-region"></div>
</div>
