<div class="filter-menu">
    <div class="text pull-left facets-region clearfix"></div>
    <div class="nav-header">
        Query
        <div class="pull-right padding-right-6">
            <i class="fa fa-plus fa-lg add-filter" title="Add Filter"></i>
        </div>
    </div>
    <div class="filter-region clearfix"></div>
    <div class="padding-6 clearfix">
        <div class="button-group pull-right">
            <div class="btn btn-primary btn-sm apply">Search</div>
        </div>
    </div>
</div>
