// Padding Helpers
.padding-3 {
  padding: 3px;
}
.padding-6{
  padding: 6px;
}
.padding-12 {
  padding: 12px;
}

// Text Indent helpers
.indent-3 {
  text-indent: 6px;
}
.indent-6 {
  text-indent: 6px;
}
.indent-12 {
  text-indent: 12px;
}
.indent-18 {
  text-indent: 18px;
}
.indent-24 {
  text-indent: 24px;
}